@font-face {
    font-family: titulos;
    src: url(../FUENTES/Beige\ Come.ttf);
}

@font-face {
    font-family: texto;
    src: url(../FUENTES/handwash_2/Handwash.otf);
}


body {
    background-color: rgb(235, 230, 225);
    display: flex;
    justify-content: center;
    padding: 15px;
    font-family: "Georgia", serif;
}

.contenedor {
        background-color: rgb(219, 175, 146);
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.div1 {
    font-size: 30px;
    justify-content: flex-start;
    color: white;
}

.contenedor2 {
    display: flex;
}

h1 {
    font-size: 40px;
    color: white;
}

h2 {
    font-size: 25px;
    font-family: titulos;
}

h2 {
    font-size: 24px;
}

a { 
    margin: 15px;
    color: rgb(138, 190, 238);
}

p {
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

span{
    font-family: texto;
}

.naveg {
    font-size: 20px;
    margin: 30px;
    color: rgb(255, 255, 255);
}

.menu {
    text-align: center;
    display: inline;
    margin-right: 35px ;
}

.biografia {
    border: 4px solid black;
    
}

th {
    color: white;
    background-color: rgb(136, 136, 218);
}

td {
    background-color: white;
}

.fotoYO {
    float: right;
}

#red {
    color: red;
}

img {
    width: 450px;
    height: auto;
    border-radius: 8px;
    float: center;
}

#foca {
    width: 170px;
}

li {
    list-style-type: square;
    font-size: 20px;
}

#insta, #twitter {
    width: 100px;
}


.tarjeta {
    display: flex;
  justify-content: flex-end; 
  padding: 40px;
  float: right;
}

.tarjeta2 {
  width: 320px;
  background: white;
  border: 1px solid #ccc;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}

.yop img {
  width: 100%;
  height: auto;
  border: 1px solid #ddd;
}

.cositas {
  width: 100%;
  margin-top: 12px;
}

.nombre {
  font-size: 28px;
  color: #6a63d9;
  font-weight: 300;
  margin-bottom: 12px;
  text-align: right;
}


.texto {
  font-size: 15px;
  color: #333;
}


